#Gitignore file

images/*
caitlynvonfeldt/*
peterthompson/*
chrislemley/*
sunayana/*
casekismat/*
alexliu/*
.DS_Store
graceschaller/*
anushka_sharmila/*
caitlyn_caroline_olivia_sophia_kyle/*
chloe_katherine_nate/*
devon_erin_jess_paul/*
jayjayewardene/*